h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  body {
    background-color: white;
  }
  .peach {
    background-size: 50%;
    background-color: peachpuff;
  }
  a:link {
    color: orangered;
  }
  a:visited {
    color: orange;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: goldenrod;
  }
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
