/*Center all headings*/

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
.font {
    font-family: serif;
    font-size: 30px;
}
  body {
    background-color: white;
  }

/*Add color to background of all headings, class "peach"*/

  .peach {
    background-size: 50%;
    background-color: peachpuff;
  }

/*Format link colors*/

  a:link {
    color: green;
  }
  a:visited {
    color: yellowgreen;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: goldenrod;
  }
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
